<nav class="navbar navbar-expand-sm ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">Peliculas</a>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            </ul>
            <div class="d-flex">
                <input #txtBuscar (keyup.enter)="buscarPelicula(txtBuscar.value)" class="form-control me-2" type="search" placeholder="Buscar peliculas" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" (click)="buscarPelicula(txtBuscar.value)"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</nav>