<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi iusto ea esse reprehenderit. Sunt, mollitia nisi nemo consequatur quas sit. Nobis laborum at non sint inventore repellendus reprehenderit, doloremque ullam.
</p>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quos, fugiat doloribus autem velit consectetur praesentium impedit optio in nostrum dolorum quidem nisi facere at quibusdam officia exercitationem! Officia, maxime!
</p>
<p class="animated fadeIn">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit voluptates, excepturi in magnam soluta fuga quasi laboriosam, consequuntur perspiciatis quidem ab necessitatibus quibusdam? Aspernatur inventore fuga delectus possimus exercitationem neque.
</p>
<p class="animated fadeIn">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, suscipit? Nulla dolorem quos quo cumque mollitia, nam architecto? Repudiandae culpa explicabo et architecto hic laudantium impedit, quasi error quia quos.
</p>